<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>BoolZapp</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <main>
                <div class="left-col">
                    <div class="header-left">
                        <div class="user-info">
                            <img :src="user.avatar" alt="">
                            <p>{{user.name}}</p>
                        </div>
                        <div class="button-container-user">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-medical"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="search-bar">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca una chat" v-model="searchInput" @keyup="selectVisible">
                    </div>
                    <div class="select-chat">
                        <a href="#end-chat" v-for="(contact, index) in contacts" v-if="contact.visible" @click="chatActive = index, setLastAccessMsg()">
                            <div class="chat-box" :class="{'box-active' : chatActive == index}">
                                <img :src="contact.avatar" alt="">
                                <div class="chat-box-info">
                                    <div class="chat-box-text">
                                        <p class="chat-name">{{contact.name}}</p>
                                        <p class="last-msg" v-if="contact.messages.length > 0">{{contact.messages.at(-1).text}}</p>
                                    </div>
                                    <div class="chat-box-data" v-if="contact.messages.length > 0">
                                        <span class="DD-MM-YYYY">{{contact.messages.at(-1).date.substring(0, 11)}}</span>
                                        <span class="hh-mm">{{contact.messages.at(-1).date.substring(12, 16)}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="right-col" v-if="chatActive != null">
                    <div class="header-right">
                        <div class="current-chat-box">
                            <img :src="contacts[chatActive].avatar" alt="">
                            <div class="current-chat-info">
                                <p class="">{{contacts[chatActive].name}}</p>
                                <p class="last-access">{{lastAccessMsg}}</p>
                            </div>
                        </div>
                        <div class="button-container-current-chat">
                            <div>
                                <i class="fas fa-search"></i>
                            </div>
                            <div>
                                <i class="fas fa-paperclip"></i>
                            </div>
                            <div class="open-menu" @click="openChatMenu = !openChatMenu">
                                <i class="fas fa-ellipsis-v"></i>
                                <div class="msg-menu" v-if="openChatMenu">
                                    <div @click="deleteAllMsg">
                                        <p>Elimina messaggi</p>
                                    </div>
                                    <div @click="deleteChat">
                                        <p>Elimina chat</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-messages">
                        <div class="msg-box" 
                        :class="{'sent' : message.status == 'sent', 
                        'received' : message.status == 'received'}" 
                        v-for="(message, index) in contacts[chatActive].messages"
                        @mouseleave="openMenu = false"
                        >   
                            <i class="fas fa-caret-down" :class="{'first-sent' : message.status == 'sent',
                            'first-received' : message.status == 'received'}"
                            v-if="firstInASeries(index)"
                            ></i>
                            <p>{{message.text}}</p>
                            <span>{{message.date.substring(0, 16)}}</span>
                            <div class="open-menu" @click="openMenu = !openMenu, whichMenu = index">
                                <i class="fas fa-chevron-down"></i>
                                <div class="msg-menu" v-if="openMenu && index == whichMenu">
                                    <div>
                                        <p>Info messaggio lungo</p>
                                    </div>
                                    <div @click="deleteMsg(index)">
                                        <p>Elimina</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="end-chat"></div>
                    </div>
                    <div class="write-bar">
                        <div class="emoji-box">
                            <i class="far fa-smile"></i>
                        </div>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessageInput" @keyup="controlInput" @keyup.enter="sendMessage">
                        <div class="mic-box" v-if="inputEmpty">
                            <i class="fas fa-microphone"></i>
                        </div>
                        <div class="plane-box" v-else  @click="sendMessage">
                            <i class="fas fa-paper-plane"></i>
                        </div>
                    </div>
                </div>
                <div class="right-col empty-placeholder" v-else>
                    <i class="fas fa-comment-slash"></i>
                </div>
            </main>
        </div>
    </div>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>