*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #090e11;
    color: white;
}

.container {
    width: 70%; 
    margin: 0 auto;
}

main {
    margin-top: 20px;
    height: calc(100vh - 40px);
    background-color: #2a2f32;
    display: flex; 
}

.left-col {
    width: 450px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #3f4448;
}

.header-left {
    height: 70px;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
    width: 60%;
}

.user-info img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.user-info p { 
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container-user {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.button-container-user i {
    font-size: 20px;
    color: #b1b3b5;
}

.search-bar {
    position: relative;
    height: 50px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    background-color: #131c21;
    border-bottom: 1px solid #3f4448;
}

.search-bar i {
    color: #848788;
    position: absolute;
    top: 17px;
    left: 25px;
}

.search-bar input {
    width: 100%;
    border-radius: 20px;
    padding: 10px 60px;
    background-color: #2a2f32;
    color: white;
    border-style: none;
    outline: none;
}

.search-bar input::placeholder {
    color: #848788;
}

.select-chat {
    overflow: auto;
    height: calc(100% - 120px);
    background-color: #131c21;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.select-chat::-webkit-scrollbar {
    width: 6px;
}

.select-chat::-webkit-scrollbar-thumb {
    background-color: #2a2f32;
}

.select-chat > a{
    text-decoration: none;
    color: inherit;
}

.chat-box {
    display: flex;
    align-items: center;
}

.chat-box-info {
    display: flex;
    border-bottom: 1px solid #3f4448;
    width: calc(100% - 60px);
    height: 80px;
    align-items: center;
}

.chat-box img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.chat-box-text {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.chat-box-text p {
    width: 100%;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-name {
    margin-bottom: 5px;
}

.last-msg {
    font-size: 12px;
    color: #b1b3b5;
}

.chat-box-data {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.DD-MM-YYYY {
    font-size: 12px;
    color: #b1b3b5;
    margin-bottom: 5px;
}

.hh-mm {
    font-size: 12px;
    color: #b1b3b5;
}

.right-col {
    width: calc(100% - 450px);
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.empty-placeholder {
    position: relative;
    background-image: url(img/peakpx.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

.empty-placeholder i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
}

.header-right {
    height: 70px;
    display: flex;
    padding: 0px 10px;
    align-items: center;
}

.current-chat-box {
    display: flex;
    width: 80%;
}

.current-chat-box img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.current-chat-info {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.current-chat-info p {
    width: 100%;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-access {
    font-size: 14px;
    color: #b1b3b5;
}

.button-container-current-chat {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.button-container-current-chat i {
    font-size: 20px;
    color: #b1b3b5;
}

.chat-messages {
    height: calc(100% - 150px);
    background-image: url(img/background.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    overflow: auto;
}

.chat-messages::-webkit-scrollbar {
    width: 6px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #2a2f32;
}

.msg-box {
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    position: relative;
}

.msg-box span {
    align-self: flex-end;
    font-size: 12px;
    color: #b1b3b5;
    margin-top: 3px;
}

.msg-box i {
    position: absolute;
    color: #262d31;
    font-size: 30px;
}

i.first-sent {
    top: -11px;
    right: -9px;
    color: #056162;
}

i.first-received {
    top: -11px;
    left: -9px;
    color: #262d31;
}

.sent {
    max-width: 60%;
    background-color: #056162;
    align-self: flex-end;
}

.received {
    max-width: 60%;
    background-color: #262d31;
    align-self: flex-start;
}

.write-bar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: #1e2428;
}

.write-bar i {
    font-size: 25px;
    color: #b1b3b5;
}

.emoji-box {
    width: 25px;
    text-align: center;
}

.mic-box {
    width: 25px;
    text-align: center;
}

.write-bar input {
    width: calc(100% - 90px);
    height: 50px;
    border-radius: 20px;
    padding: 10px 60px;
    margin: 0px 20px;
    background-color: #2a2f32;
    color: white;
    border-style: none;
    outline: none;
    font-size: 20px;
}